<footer class="minimalist-footer">
    <div class="footer-content">
      <section class="footer-section contact-info">
        <h3>Contact Us</h3>
        <p><i class="fas fa-phone"></i> +4542209592</p>
        <p><i class="fas fa-envelope"></i> info&#64;lakridskompagniet.dk</p>
        <p><i class="fas fa-map-marker-alt"></i> Poulskervej 14 B, 3730 Nexø</p>
      </section>
      <section class="footer-section quick-links">
        <h3>Quick Links</h3>
        <a href="/privatlivspolitik">Privatlivspolitik</a>
        <a href="/handelsbetingelser">Handelsbetingelser</a>
      </section>
      <section class="footer-section social-media">
        <h3>Follow Us</h3>
        <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
        <a href="#"><i class="fab fa-facebook-square"></i> Facebook</a>
      </section>
    </div>
    <div class="footer-copy">© 2024, Lakridskompagniet</div>
  </footer>
  