<div class="background-image">
  <!-- Your homepage content goes here -->
</div>
<div class="header-image-container">
  <img src="\assets\images\banner.jpg" alt="Description of Image" class="header-image">
</div>
<div class="features-container">
  <div class="feature-item feature-container-1">
      <h2 class="feature-title">Slow Cooked</h2>
      <div class="text-content">
          <p>All our liquorices are slow-cooked to perfection. Each cooking process takes approximately 8 hours, reducing the original liquorice mass to about one-third. This gives the liquorice an extra soft and intense flavor.</p>
      </div>
  </div>
  <div class="feature-item feature-container-2">
      <h2 class="feature-title">A BITE OF NATURE</h2>
      <div class="text-content">
          <p>All our products are handcrafted in Bornholm. We are proud to say that we collaborate with a long list of Bornholm-based companies. These collaborations aim to use as many local ingredients as possible. For example, the oil used in the liquorices is produced on Bornholm from Bornholm ingredients.</p>
      </div>
  </div>
  <div class="feature-item feature-container-3">
      <h2 class="feature-title">DNA OF BORNHOLM</h2>
      <div class="text-content">
          <p>All our liquorices are produced with a focus on sustainability and natural flavors. For example, our berry flavors are made with freeze-dried berries, and our espresso flavor is made with freshly roasted coffee beans from a local roastery.</p>
      </div>
  </div>
</div>
