<div class="background-image">
    <!-- Your homepage content goes here -->
  </div>

  <div class="title-section">
    <h1 class="title-text">A BITE OF NATURE</h1>
  </div>

 
<div class="product-container">
  <div *ngFor="let product of products" class="product-card">
    <div class="product-image" [ngStyle]="{'background-image': 'url(' + product.image + ')'}">
      <div class="product-details">
        <h2 class="product-title">{{ product.name }}</h2>
      </div>
    </div>
  </div>
</div>

<div class="about-us-section">
  <h2 class="about-title">EN PASSION FOR DEN ÆGTE SMAG</h2>
  <p class="about-text">
    Lakrids Kompagniet er skabt ud fra en ubetinget kærlighed til både det søde og bornholmske. Passionen for de håndlavede søde sager har altid været der – og med en stor kærlighed til den ægte lakridssmag, som Christos oplevede, at mange delte med ham, var planen klar.
    <br><br>
    Giv dig selv en smagsoplevelse med den bornholmske lakrids fra Lakrids Kompagniet, der vil smelte på tungen og genoplive din kærlighed til lakrids. Du vil opleve en kraft i hver bid, som kun kvalitet og passion kan frembringe.
  </p>
</div>

<div class="features-container">
  <div class="feature-item">
    <h2 class="feature-title">Slow Cooked</h2>
    <p class="feature-text">All our liquorices are slow-cooked to perfection. Each cooking process takes approximately 8 hours, reducing the original liquorice mass to about one-third. This gives the liquorice an extra soft and intense flavor.</p>
  </div>
  <div class="feature-item">
    <h2 class="feature-title">Bornholm's DNA</h2>
    <p class="feature-text">All our products are handcrafted in Bornholm. We are proud to say that we collaborate with a long list of Bornholm-based companies. These collaborations aim to use as many local ingredients as possible. For example, the oil used in the liquorices is produced on Bornholm from Bornholm ingredients.</p>
  </div>
  <div class="feature-item">
    <h2 class="feature-title">Natural Delights</h2>
    <p class="feature-text">All our liquorices are produced with a focus on sustainability and natural flavors. For example, our berry flavors are made with freeze-dried berries, and our espresso flavor is made with freshly roasted coffee beans from a local roastery.</p>
  </div>
</div>











  





  