<nav class="navbar">
    <div class="logo-container">
      <img src="/assets/images/lakridslogo.svg" alt="Logo" class="logo">
    </div>
    <div class="nav-links">
      <a routerLink="/home"routerLinkActive="active-link">Forside</a>
      <div class="shop-container" (mouseenter)="isOpen = true" (mouseleave)="isOpen = false">
        <a href="#" class="shop-link">Produkter</a>
        <div class="dropdown" [@slideDown]="isOpen ? 'open' : 'closed'">
          <div class="grid-container">
            <div *ngFor="let product of products" class="grid-item" (click)="navigateToProduct(product.url)">
              <img [src]="product.image" [alt]="product.name">
              <div class="product-info">
                <span class="product-name">{{ product.name }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a routerLink="/history"routerLinkActive="active-link">Historien</a>
      <a href="#">Kontakt</a>
      <a routerLink="/products"routerLinkActive="active-link">Shop</a>
      <div class="cart-basket">
        <i class="fa-solid fa-cart-shopping"></i>
      </div>
    </div>
  </nav>
  