.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 20px 20px;
  position: relative; /* Added to contain the absolutely positioned logo */
  overflow: hidden; /* Ensure content does not overflow the navbar height */
}

.logo-container {
  position: absolute; /* Allow the logo to overflow its container */
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
}

.logo {
  height: 130px; /* Increase the height of the logo */
}

.nav-links {
  display: flex;
  gap: 40px;
  flex: 1;
  justify-content: center;
  order: 2;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.nav-links a:hover {
  color: #ccc;
}

.cart-login-container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto;
  order: 3;
}

.cart-basket {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #fff;
  color: #333;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 12px;
}

.login-icon i {
  color: #fff;
  font-size: 18px;
}

.login-icon i:hover {
  color: #ccc;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  background-color: #333;
  position: absolute;
  top: 60px; /* Adjust to ensure it appears below the navbar */
  left: 0;
  width: 100%;
  border-radius: 5px;
}

.dropdown-menu a {
  color: #fff;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #444;
}

.show {
  display: flex;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-toggle {
    display: block;
  }
}
