.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 20px 20px;
  position: relative; /* Added to contain the absolutely positioned logo */
  overflow: hidden; /* Ensure content does not overflow the navbar height */
}

.logo-container {
  position: absolute; /* Allow the logo to overflow its container */
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
}

.logo {
  height: 130px; /* Increase the height of the logo */
}

.nav-links {
  display: flex;
  gap: 40px; /* Increased gap between links */
  flex: 1;
  justify-content: center; /* Centered links */
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 18px; /* Increased font size */
}

.nav-links a:hover {
  color: #ccc;
}

.cart-login-container {
  display: flex;
  align-items: center;
  gap: 30px; /* Increased gap between cart and login */
  margin-left: auto; /* Align to the right side */
  
}

.cart-basket {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #fff;
  color: #333;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 12px;
}

.login-icon i {
  color: #fff;
  font-size: 18px;
}

.login-icon i:hover {
  color: #ccc;
}
