<nav class="navbar">
  <div class="logo-container">
    <a routerLink="/home">
      <img src="/assets/images/lakridslogo.svg" alt="Logo" class="logo">
    </a>
  </div>
  <div class="nav-links">
    <a routerLink="/products" routerLinkActive="active-link">Shop</a>
    <a routerLink="/history" routerLinkActive="active-link">Historien</a>
    <a routerLink="/contact" routerLinkActive="active-link">Kontakt</a>
  </div>
  <div class="cart-login-container">
    <div class="cart-basket" routerLink="/cart"> <!-- Tilføj routerLink her -->
      <i class="fa-solid fa-cart-shopping"></i><span class="cart-count">{{ cartItemCount }}</span>
    </div>
    <a *ngIf="!authService.isAuthenticated()" routerLink="/login" class="login-icon">
      <i class="fa-solid fa-user"></i>
    </a>
    <a *ngIf="authService.isAuthenticated()" (click)="logout()" class="login-icon">
      <i class="fa-solid fa-user-check"></i>
    </a>
  </div>
</nav>
