<div class="hero-section">
    <div class="hero-image"></div> <!-- This div is for the blurred background image -->
    <div class="hero-title">
      <h1>Historien</h1>
    </div>
  </div>

<main class="company-story">
    
    <section class="story-content">
      <p>Idémager og stifter Christos Kakavogiannis står bag Lakrids Kompagniet. Med stor passion for det traditionelle lakridshåndværk, har han skabt sin version af en bornholmsk lakrids...</p>
      
      <p>Christos er vokset op med stor kærlighed til den håndlavede konfekture fra hans forældre, som ejer den bornholmske iskæde, Chris & Mario. Alt hos Lakrids Kompagniet er håndlavet fra bunden...</p>
      
      <p>Lakridsen er lavet over en lang kogeproces, der gør den ekstra intens, hvor blot et enkelt stykke giver stor smag. Alt er håndlavet efter egen hemmelige opskrift med gamle traditioner...</p>
    </section>
  </main>
  