<div class="product-grid">
  <div class="product-card" *ngFor="let produkt of produkter" (click)="navigateToProductDetail(produkt.ProduktID)">
    <img [src]="produkt.ImageUrl" alt="{{ produkt.Titel }}" class="product-image"> 
    <div class="product-info">
      <h2>{{ produkt.Titel }}</h2>
      <p>{{ produkt.Pris | currency:'DKK':'symbol' }}</p>
    </div>
    <div class="button-container">
      <button class="add-to-cart" (click)="addToCart(produkt); $event.stopPropagation()">Læg i kurv</button>
    </div>
  </div>
</div>
