.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  width: 200px;
  cursor: pointer;
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-info {
  margin-top: 10px;
}

.product-info h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-info p {
  margin: 5px 0;
}

.product-info button {
  padding: 10px 20px;
  font-size: 16px;
  background: #8d6e63;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
}

.product-info button:hover {
  background-color:  #6d4c41;
}
